<div class="sliderContainer">
  <div class="overlay"></div>
  <div class="content">
    <div class="section" *ngFor="let category of movies | keyvalue:unsorted ; trackBy:trackByCategory ">
      <h3 class="sectionTitle">{{category.key}}</h3>
      <div class="slider">
        <div class="container">
          <div class="elements_wrapper sliderSection">

              <button class="element"

                *ngFor="let movie of category.value ; let i=index;"
                [attr.data-id]="movie?.id"
                [attr.data-section] = "category.key"
                [attr.data-index]="i">

                <img src="{{imgBaseUrl + movie?.poster_path}}" alt="">

              </button>

          </div>
      </div>
      </div>
    </div>

  </div>
</div>
