<div class="playerPageContainer">
  <video crossorigin="anonymous" class="moviePlayer" type="video/mp4" muted></video>
  <img src="../../assets/icons/loading.svg" class="loading" >
  <div class="controls">
    <div class="controlsContainer">
      <div class="wrapper">
        <div class="infoSection">
          <span class="title">{{movie?.original_title}}</span>
          <span class="infos">{{year}} . {{runtime?.hh}} hr {{runtime?.min}} min</span>
        </div>
        <div class="timeSlider">
          <div class="slider">
            <button class="progress controlsElem"
              data-sn-down =".playerPageContainer .playBtn">

              <div class="reachedDot"></div>
            </button>
          </div>
          <div class="timeInfo">
            <span class="currentTime">00:00</span>
            <span class="duration">00:00:00</span>
        </div>
        </div>
        <div class="options">
          <div class="subOpt">
            <button class="optBtn controlsElem ccBtn"
              data-sn-up =".playerPageContainer .timeSlider .progress">
                <img src="../../assets/icons/caption.svg" alt="">
            </button>
          </div>
          <div class="playbackOpt">
            <button class="optBtn controlsElem seekLeft seekBtn"
              disabled
              data-sn-up =".playerPageContainer .timeSlider .progress">
                <img src="../../assets/icons/rightSeek.svg" alt="">
            </button>
            <button class="optBtn controlsElem playBtn"
              data-sn-up =".playerPageContainer .timeSlider .progress">
                <img src="../../assets/icons/playSharp.svg" alt="">
            </button>
            <button class="optBtn controlsElem seekBtn"
            disabled
              data-sn-up =".playerPageContainer .timeSlider .progress">
                <img src="../../assets/icons/rightSeek.svg" alt="">
            </button>
          </div>
          <div class="settingsOpt">
            <button class="optBtn controlsElem"
              data-sn-up =".playerPageContainer .timeSlider .progress">
                <img src="../../assets/icons/opts.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidePannel">
    <div class="optionsTitle">Subtitles</div>
    <div class="content" *ngIf="subtitles">
      <button *ngFor="let subtitle of subtitles" class="controlsElem subtitle" [attr.data-fileId]="subtitle.attributes.files[0].file_id
      " [attr.data-language]="subtitle.attributes.language">
        <div class="name">{{subtitle.attributes.files[0].file_name}}</div>
        <div class="params">
          <div class="language">
            <span>language : </span>
            {{subtitle.attributes.language}}
          </div>

          <img class="tick" src="../../assets/icons/tick.svg" alt="">
        </div>
      </button>
    </div>

    <div class="loadingSubs" *ngIf="!subtitles">
      Fetching subtitles
      <img src="../../assets/icons/loading_small.svg" alt="">
    </div>
  </div>

</div>
