<div class="ytContainer">
  <div class="controls">
    <div class="timeSlider">
      <div class="currentTime timeIndicator">00:00</div>
      <div class="slider">
        <div class="current">
          <div class="trackDot"></div>
        </div>
      </div>
      <div class="duration timeIndicator">00:00</div>
    </div>
  </div>
  <div class="isPlayingIndicator stateIndicator">
    <img src="../../assets/icons/play.svg" alt="">
  </div>
  <div class="isPausingIndicator stateIndicator">
    <img src="../../assets/icons/pause.svg" alt="">

  </div>
  <video class="ytPlayer" crossorigin="anonymous"></video>
  <div class="youtubeLoading">
    <img class="loadingSVG" src="../../assets/icons/loadingYT.svg" alt="">
  </div>
</div>
