.ytContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .ytPlayer {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: fill;
  }


  .stateIndicator {
    position: fixed;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    z-index: 5;

    img {
      width: 100px;
      filter :invert(100%)
      sepia(99%)
      saturate(25%)
      hue-rotate(23deg)
      brightness(106%)
      contrast(100%)
      drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.214));

      /*filter:
      invert(80%)
      sepia(57%)
      saturate(2135%)
      hue-rotate(350deg)
      brightness(101%)
      contrast(105%)
      drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.214));*/
      opacity: 0;

    }
  }

  .youtubeLoading {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    .loadingSVG {
      width: 140px;
    }
  }

  .controls {
    display: flex;
    height: 47px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #0000009c;
    z-index: 5;

    .timeSlider {
      width: 100%;
      display: flex;
      align-items: center;
      font-family: 'Netflixlt';
      font-size: 14px;

      .timeIndicator {
        padding: 0 15px;
      }

      .slider {
        width: 95%;
        height: 2px;
        background: #272727;

        .current {
          height: 100%;
          width: 0%;
          background: #FFC107ff;
          transition: all .2s;
          position: relative;

          .trackDot {
            width: 9px;
            height: 9px;
            position: absolute;
            transform: translate(0, -50%);
            right: 0;
            top: 50%;
            border-radius: 50%;
            background: #FFC107ff;
          }
        }
      }
    }

  }

  .overlay {

    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: linear-gradient(39deg, rgb(0 ,0 ,0) 0%, rgba(0 , 0  , 0 , .94) 55%, rgba(0,0,0,0.7570378493194152) 78%, rgba(0,0,0,0.48252804539784666) 89%);
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
